body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 3px;
/* Set the width as desired */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: violet; /* Set the color to violet */
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Set the track color as desired */
}